<div class = "list-item group">

	<%= form_tag check_item_todo_list_todo_item_path(todo_list, todo_item), method: :put, class: "list-item-checker group" do %>

		<%= submit_tag "Y" %>

	<% end %>

	<div class = "list-item-content group">

		<p class = "list-item-content-words"><%= todo_item.content %></p>

	</div>

</div>