/*******************
	FORMS
*******************/

.form-wrapper {
	background-color: lightblue;
	margin: 30px;
	height: 100%;
	padding: 10px;
}

.form-header {
	text-align: center;
	font-size: 26px;
	margin: 15px 0 25px 0;
}

.form-fields {
	margin: 0 10%;
}

.form-label {
	font-size: 14px;
	display: block;
	margin: 5px 0;
	font-weight: bold;
}

.form-field {
	margin: 0 0 10px 0;
	height: 25px;
	width: 100%;
}

.form-submit {

}

/*******************
	LIST ITEMS
*******************/

.new_item_box {
	width: 91%;
	height: 30px;
	font-size: 12px;
}

.new_item_box_submit {
	font-size: 14px;
	color: black;
	background-color: lightgray;
	width: 35px;
	height: 30px;
	border-radius: 5px;
}

.new_item_box_submit:hover {
	cursor: pointer;
}

.show-new_item_box {
	width: 89%;
	height: 30px;
	font-size: 12px;
}

.root-list-form {
	display: none;
}

