.form-wrapper {
	background-color: lightblue;
	margin: 30px;
	height: 100%;
	padding: 10px;
}

.form-header {
	text-align: center;
	font-size: 26px;
	margin: 15px 0 25px 0;
}

.form-fields {
	margin: 0 10%;
}

.form-label {
	font-size: 14px;
	display: block;
	margin: 5px 0;
	font-weight: bold;
}

.form-field {
	margin: 0 0 10px 0;
	height: 25px;
	width: 100%;
}

.form-submit {

}