/*******************
	HEADER
*******************/

.header {
/*	background-color: #34C4DB;*/
	background-color: lightblue;
	height: 60px;
	padding: 0 20px;
}

.header-img {

}

.header-right {
	margin: 6px;
}

.header-nav-ul {
	display: block;
	float: right;
}

.header-nav-li {
	display: inline-block;
	margin: 0 10px;
	letter-spacing: 1.4px;
	font-size: 14px;
	color: white;
/*	font-weight: bold;*/
	font-family: Arial;
}

.header-nav-li:hover {
	text-decoration: underline;
	cursor: pointer;
}