/*******************
	LISTS
*******************/

.main-content {

}

.list {
	margin: 20px 0 0 0;
	background-color: lightblue;
	padding: 20px;
}

.list-delete {
	float: right;
	font-size: 12px;
	background-color: white;
	width: 18px;
	text-align: center;
/*	border: 2px solid lightgrey;*/
}

.list-delete:hover {
	cursor: pointer;
	background-color: lightgrey;
}


.list-header {
	text-align: center;
	margin-bottom: 20px;
}

.list-title {
	font-size: 20px;
	color: #572626;
}

.list-type {
	text-align: center;
	font-size: 12px;
	margin-top: 7px;
	letter-spacing: 1.2px;
/*	font-style: italic;*/
}

/*******************
	SHOW-LISTS
*******************/

.show-list {
	background-color: lightblue;
	padding: 20px;
	width: 100%;
}

/*******************
	BACKGROUNDS
*******************/

.blue_background {
	margin: 20px 0 0 0;
	background-color: lightblue;
	padding: 20px;
}

.red_background {
	margin: 20px 0 0 0;
	background-color: #E04F4F;
	padding: 20px;
}

.yellow_background {
	margin: 20px 0 0 0;
	background-color: #FAFF91;
	padding: 20px;
}

.green_background {
	margin: 20px 0 0 0;
	background-color: #83CC6A;
	padding: 20px;
}




