/*******************
	UNIVERSAL
*******************/

.group:after {
	display: table;
	clear: both;
	content: " ";
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
}

html, body {margin:0;padding:0;height:100%;}

html {
}

* {
	font-family: proxima-nova, Proxima Nova, helvetica, arial, sans-serif;
	font: normal 12px "lucida grande", "lucida sans unicode", arial, verdana, tahoma, sans-serif;
	margin:0px;
    padding:0px;
}

a {
	text-decoration: none;
	color: gray;
}

body {
	margin: 0;
	padding: 0;
	color: #69696B;
}